@media (min-width: 240px) and (max-width: 1198px) {
	.menu__nav {
		display: none;
	}
	.menu .wrapper {
		justify-content: center;
	}
	.hamburger {
		display: block;		
		position: absolute;
		left: 15px;
		cursor: pointer;
	}
	.line1 {
		width: 40px;
		height: 6px;
		background: white;
		border-radius: 5px;
		margin-bottom: 7px;
		transition: all 1s;
	}
	.line2 {		
		width: 36px;
		height: 6px;
		background: white;
		border-radius: 5px;
		margin-bottom: 7px;
		margin-left: auto;
		margin-right: auto;
		transition: all .5s;	
	}
	.line3 {
		width: 40px;
		height: 6px;
		background: white;
		border-radius: 5px;
		transition: all 1s;
	}
	.line1_active {
		transform-origin:left top;
		transform: rotate(45deg);		
	} 
	.line2_active {
		transform: translateX(-100px);
	}
	.line3_active {
		transform-origin:left bottom;
		transform: rotate(-45deg);
	}	
	.advantages {
		margin-bottom: 30px;
		flex-wrap: wrap;
	}
	.item1, .item2, .item3 {	
		margin: 0 auto;				
	}
	.sport-club__img {
		display: none;
	}	
	.trainers__cards {
		max-width: 98vw;
		max-height: 395px;		
		overflow: hidden;
	}
	.sport-club {
		width: 100%;
	}
	.trainers__card-item {
		margin-right: 20px;	
		transform: translateX(0px);	
	}
	.trainers__card-item_active {
		transform: translateX(-120vw);
	}
	.price, .services, .services__card {
	width: 100%;
	position: relative;	
	}
	.main {
		margin-bottom: 30px
	}
	.first-screen__cards{
		flex-direction: column;
		align-items: center
	}
	.first-screen__card-item {
		text-align: center;
		margin-bottom: 10px;
		width: 95%;
	}
	.footer .wrapper {
		flex-wrap: wrap;
	}
	.footer__copyright {
		flex-basis: 100%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px
	}
	.footer__list {
		flex-direction: column;
	}
	.footer__list-item {
		margin-bottom: 10px;
	}
	.news__card {
		margin: 0 auto;
	}
	.services__card-border {
		width: 100%;
	}
	.advantages__item {
		flex-basis: 100%;
	}
	.advantages__item img {
		width: 100%;
	}
	.news__card {
		flex-basis: 100%;
		width: 100%;		
	}
	.news__card img {
		width: 100%;
	}
	.news__button {
		position:relative;
		margin-top:20px;
	}
}
